.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--header {
  color: var(--title-color);
}

.header__logo {
  margin-right: 93px;
}

.logo--footer {
  color: var(--primary-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
