.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.subscribe__input {
  max-width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  }
}

.subscribe__button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .subscribe__input {
    min-width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-top: 0;
    display: inline-flex;
    margin-left: 12px;
  }
  .subscribe {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
