:root {
  --primary-color: #ffffff;
  --primary-color-alpha: rgba(255, 255, 255, 0.6);
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --focus-accent-color: #188ce8;
  --title-color: #212121;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --line-color: #ececec;
  --card-color: #eeeeee;
  --background-hero: #c4c4c4;
  --icon-color: #afb1b8;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
}
